body{
    background-image: url("../Images/digitalclock.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.digitalclock{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#time{
    font-family: monospace;
    font-size: 6.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    backdrop-filter:blur(5px);
    width: 100%;

}